# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
**/.env
**/.env.*
!**/.env.example

# Node
**/node_modules/
**/.next/
**/dist/

# Laravel
backend/vendor/
backend/storage/logs/*
backend/storage/framework/*
backend/bootstrap/cache/*
backend/.phpunit.result.cache

# Logs
*.log

# Cache
.cache/
tmp/
